.container {
  width: 4rem;
  height: 1rem;
  .prompt {
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    margin: 0 auto;
  }
  .analyser {
    height: 1rem;
    margin: 0 0.5rem;
  }
}