.container {
  width: 5rem;
  height: 1rem;

  .prompt, .transcription {
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    margin: 0 auto;
  }

  .analyser {
    height: 1rem;
    margin: 0 0.5rem;
  }
}
